* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


/* containers and layout */
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.col-40 {
  width: 40%;
  padding: 40px 0;
}

.col-60 {
  width: 60%;
}

.col-33 {
  width: calc(100% / 3);
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* HEADER */
header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4B525D;
}

header img {
  width: 100px;
  padding: 20px 0;
}

header ul {
  display: flex;
  list-style: none
}

header ul li {
  margin-left: 30px;
  font-weight: bold;
  cursor: pointer;
  height: 140px;
  display: flex;
  align-items: center;
}

header ul li:hover,
.active {
  color: #0282F9;
  text-decoration: underline;
  text-underline-offset: 60px;
  text-decoration-thickness: 7px;
  text-decoration-color: #0282F9;
}

/* MAIN */
.bg-black {
  background-color: #1C1C1C;
  color: white;
}

.bg-blue {
  background-color: #0282F9;
  color: white;
}

.content {
  padding: 40px 0;
}

/* CARDS */
.card {
  width: calc(100% / 6);
  padding: 20px 20px;
  /* text-align: center; */
  text-transform: uppercase;
}

.card-img {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}

.card-img img {
  max-width: 100%;
}

/* BONUS BUTTONS AND ICONS */
.main-buttons li {
  width: calc(100% / 5);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-buttons li img {
  max-height: 70px;
  max-width: 70px;
}

.main-buttons li:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

/* FOOTER */

/* upper footer */
.upper-footer {
  /* padding: 40px 0; */
  background-image: url('../src/assets/img/footer-bg.jpg');
  background-size: cover;
  color: white;
}

.upper-footer h4 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.upper-footer ul {
  list-style: none;
  margin-bottom: 20px;
}

.upper-footer ul li {
  padding: 5px 0;
  font-size: 15px;
  color: gray;
}

.upper-footer .large-logo {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.upper-footer .large-logo img {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

/* lower footer */
.lower-footer {
  padding: 40px 0;
  background-color: #303030;
  color: white;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: 3px solid #0282F9;
  background-color: transparent;
  font-size: 20px;
  color: white;
  font-weight: 300;
}

.lower-footer h3 {
  color: #0282F9;
  font-size: 25px;
  font-weight: bold;
}

.lower-footer .right-footer {
  gap: 30px;
}

.lower-footer .right-footer ul {
  list-style: none;
  gap: 20px;
}

/* footer hover animations */
.upper-footer ul li:hover {
  color: white;
  text-decoration: underline;
}

.lower-footer button:hover {
  background-color: #0282F9;
  transition: all 0.3s;
}

.lower-footer h3:hover {
  color: white;
  transition: all 0.3s;
}

.lower-footer ul li:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}